In [1]:
import pandas as pd

In [3]:
df_spbu = pd.read_csv('spbu_comments.csv')
df_spbu[['text','id','from_id']]

                                                    text      id    from_id
0      –∑–∞–æ—á–∫–∞*\n\n—ç—Ç –ø–µ—Ä–≤–æ–µ\n\n–∞ –≤—Ç–æ—Ä–æ–µ, –ª—É—á—à–µ —É–∑–Ω–∞—Ç—å...  381651  472121925
1                                                     –î–∞  381629  154032610
2      –ù–µ—Ç. –í —Ç–∞–∫–∏—Ö —Å–ª—É—á–∞—è—Ö –æ—Ä–∏–µ–Ω—Ç–∏—Ä—É–π—Å—è –Ω–∞ –ø—Ä–∞–≤–∏–ª–∞ –ø...  381646   10702362
3                                                      +  381617  664875401
4      –í—ã–ø–æ–ª–Ω—è—é —Ä–∞–±–æ—Ç—ã –ø–æ –º–∞—Ç–µ–º–∞—Ç–∏–∫–µ,  –æ–±—Ä–∞—â–∞–π—Ç–µ—Å—å üòâ ...  381618   31951761
...                                                  ...     ...        ...
12887         –¢–µ—Å—Ç—ã –¥–æ–Ω–Ω—ã–µ, –ª—É—á—à–µ –≤–∑—è—Ç—å –ø–µ—Ä–µ–≤–æ–¥ –∑–∞ –±–∞–ª–ª—ã  332453  227576670
12888                                    –ï—Å. –°–æ—Ö—Ä–∞–Ω—è–µ—Ç—Å—è  332336  280652844
12889                                                NaN  332349          0
12890                                               –î–∞–∞–∞  332351   75061935
12891                                                 –î–∞  332387   54756152

[12892 rows x 3 columns]

In [4]:
df_msu = pd.read_csv('msu_comments.csv')
df_msu[['text','id','from_id']]

                                                    text      id    from_id
0      –ü–æ—á–µ–º—É –Ω–µ –ø–æ–≤–µ—Ä–∏–º? –í –í–®–≠ –µ—Å—Ç—å —Ñ–∞–∫—É–ª—å—Ç–µ—Ç –¥–∏–∑–∞–π–Ω...  445828  360217145
1                            –ü—Ñ—Ñ—Ñ, –∞ –≤ –ú–ì–£ –ê–∑–∞—Ç –ú–∏—Ñ—Ç–∞—Ö–æ–≤  445829  245028077
2              –ù—É –µ—Å—Ç–µ—Å—Ç–≤–µ–Ω–Ω–æ –í–®–≠, –ú–ì–£—à–Ω–∏–∫ –Ω–µ –ø–æ–ø–∞–ª—Å—è –±—ã  445831  408514951
3                                      –¢—ç–≥–∞–ª, –Ω–µ–±–æ—Å—åüòÅüòÅüòÅüòÅ  445832  537302811
4      –ú–≥—É—à–Ω–∏–∫–∞–º —Ä–æ—Å—Å–∏–π—Å–∫–∏–π –º–µ–Ω—Ç –¥–æ—Ä–æ–∂–µ –±—Ä–∞—Ç–∞ –∏–∑ –≤—ã—à–∫...  445842  221156367
...                                                  ...     ...        ...
48080                                                NaN  276065   36543494
48081                        –∫–∞–∫ –∫—Ä–∞—Å–∏–≤–æ) —Ç—ã –º–æ–π –≥–µ—Ä–æ–πüòáüòá  276031   10432035
48082                              –õ–∞–π–∫ –∑–∞ –∫–∞–≤–µ—Ä "–ú—Ü—ã—Ä–∏"  276033    3086601
48083                        –õ–µ—Ä–º–æ–Ω—Ç–æ–≤üòçüòç\n–†–µ—Å–ø–µ–∫—Ç –∞–≤—Ç–æ—Ä—É  276037   15110019
48084                                –û–æ–æ—á–µ–Ω—å –∫—Ä–∞—Å–∏–≤–æ!!))  276327  129411382

[48085 rows x 3 columns]